<div class="row">
  <div class="col-9" *ngIf="!isNameEditing">
    <h1 (dblclick)="isNameEditing = true">{{todoListName}}</h1>
  </div>
  <div class="col-9" *ngIf="isNameEditing">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="todoListName" (keydown)="keydownTodoListName($event)">
    </div>
  </div>
  <div class="col-1 align-self-center" *ngIf="!isNameEditing">
    <button class="btn btn-outline-secondary" (click)="isNameEditing = true">Rename</button>
  </div>
  <div class="col-1 align-self-center" *ngIf="isNameEditing">
    <button class="btn btn-outline-secondary" (click)="updateTodoListTitle()">Save</button>
  </div>
  <div class="col-2 align-self-center">
    <button class="btn btn-outline-primary" (click)="this.saveAsPreset.emit()">Save as preset</button>
  </div>
</div>

